.page-wrapper *::selection {
  color: rgb(255, 255, 255);
  background: rgb(236, 184, 105);
}

.page-wrapper {
  display: flex;

  justify-content: center;
  align-items: center;

  --cover-width: 500px;
  --cover-height: 600px;

  font-family: "CookieRun";
}

.page {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: rgb(238, 220, 186);

  box-sizing: border-box;

  width: var(--cover-width);
  height: var(--cover-height);

  padding: 10px 15px;

  border: 10px solid rgb(236, 212, 167);
  border-radius: 20px;
}

.page-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
}

.page-title {
  all: unset;
  font-size: 20px;

  padding: 10px;
}

.create-at {
  font-size: 13px;
  font-weight: 600;

  line-height: 50px;
}

.content-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  position: relative;
}

.content-wrapper.main {
  height: 90%;
}

.page-content {
  box-sizing: border-box;

  position: absolute;
  width: 100%;
  height: 100%;

  padding: 10px;
}

.page-content::-webkit-scrollbar {
  width: 10px;
}

.page-content::-webkit-scrollbar-thumb {
  margin-top: 100px;
  background-color: rgb(231, 206, 158);
  border-radius: 5px;
}

.page-content > * {
  padding-top: 5px;
}

[contenteditable] {
  outline: 0px solid transparent;
}
